.column-container {
  margin: 8px;
  border: 1px solid lightgray;
  border-radius: 2px;
}

.task-container {
  border: 1px solid lightgray;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: white;
}

.column-title {
  padding: 8px;
}

.column-task-list {
  padding: 8px;
}
